<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: chartreuse;
            color: black;
        }
        h1{
            color: crimson;
        }
    </style>
</head>
<body>
    <center>

        <h1><marquee>we are doing the jinjatags by using if condition</marquee></h1><hr>
        <h2>{{name}}</h2>

        {% if age > 5 %}
             <h2>watching cartoons</h2>
        {% elif age > 18 %}
             <h2>watching movies</h2>
        {% else %}
             <h2>watching news</h2>
        {% endif %}




    </center>
</body>
</html>